body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    background: rgba(125, 166, 253, 0.911);
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between
}

footer {
    display: flex;
    background: rgba(31, 0, 116, 0.911);
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 8px;
    background: rgba(255, 235, 235, 0.301);
}

h1 { 
    text-align: center;
    margin-top: auto;
}

img {
    max-width: 100%;
    display: block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex>div {
    flex: 200px;
    margin: 10px 10px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 8px;
    background: rgba(255, 235, 235, 0.301);
}

h1 { 
    text-align: center;
    margin-top: auto;
}

img {
    max-width: 100%;
    display: block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex>div {
    flex: 200px;
    margin: 10px 10px;
}

.header-2 {
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    border-bottom: 3px solid #efefef;
    
}

.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 10px;
}
.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
.menu{
    width: 70%;
    float: left;
}
.busca{
    text-align: center;
    width: 30%;
    float: right; 
}
.busca input{
    background-image: url(icone-search.png);
    background-repeat: no-repeat;
    height: 20px;
    margin-top: 10px;
    background-position: 96%;
}
.col-100{
    width: 100%;
    float: left;
    position: relative;
}